@keyframes rotation {
    0% {
        transform: translateY(-2px) rotate(90deg);
        animation-timing-function: ease-out;
    };
    25%{
        transform: translateY(-4px) rotate(180deg);
        animation-timing-function: ease-in;
    };
    50%{
        transform: translateY(-6px) rotate(270deg);
        animation-timing-function: ease-in;
    };
    75%{
        transform: translateY(-8px) rotate(360deg);
        animation-timing-function: ease-in;
    };
    100%{
        transform: translateY(-10px) rotate(0deg);
        animation-timing-function: ease-out;
    }
}
@keyframes rotation_deg {
    0% {
        transform: translateX(-2px) rotate(90deg);
        animation-timing-function: ease-out;
    };
    25%{
        transform: translateX(-4px) rotate(180deg);
        animation-timing-function: ease-in;
    };
    50%{
        transform: translateX(-6px) rotate(270deg);
        animation-timing-function: ease-in;
    };
    75%{
        transform: translateX(-8px) rotate(360deg);
        animation-timing-function: ease-in;
    };
    100%{
        transform: translateX(-10px) rotate(360deg);
        animation-timing-function: ease-out;
    }
}