.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: $main;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    &_main {
        width: 300px;
        font-size: 16px;
        height: 50px;
        margin-top: 67px;
    }
    &_form {
        width: 100%;
        height: 58px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        &:hover {
            position: relative;
            background: url(../img/bg/running.jpg) center (center/cover) no-repeat;
            span {
                display: block;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-weight: 700;
                color: rgb(97, 96, 96);
                mix-blend-mode: multiply;
            }
        }
    }
}
@media (max-width: 900px) {
    .button{
        &_form {
            font-size: 14px;
            height: 50px;
        }
    }
}
@media (max-width: 767px) {
    .button {
        &_main {
            width: 250px;
            font-size: 14px;
        }
    }
}
@media (max-width: 450px) {
    .button {
        &_main {
            width: 200px;
            font-size: 12px;
        }
    }
}