.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/promo__bg.jpg') no-repeat 50%/cover;
    padding-top: 200px;
    &__title {
        margin-top: 10px;
    }
    &__descr, &__title, .upd {
        color: #ffffff !important;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 273px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        color: #000000;
        font-weight: bold;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}