.portfolio {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
    overflow: hidden;
    line-height: 1.8;
    background-color: var(--dark);
    // z-index: -2;
    box-sizing: border-box;
    &__nav {
        position: absolute;
        top: 2vh;
        right: 4vw;
    }
    &__description {
        position: absolute;
        font-size: calc(var(--index) * .8);
        top: 20vh;
        left: 8vw;
        max-width: 24vw;
        font-family: "Roboto Slab";
        opacity: .9;
        transition: all var(--transition);
        p {
            opacity: .9;
            transition: var(--transition);
            transition-duration: 3s;
        }
    }
    &-description {
        &__logo {
            font-size: calc(var(--index) * 3);
            font-weight: 900;
            display: inline-block;
            background: linear-gradient(90deg, #FF0000, #FF4500, #FFD700, #FFFF00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__slider {
        height: 100%;
        transform: rotate(15deg);
        overflow: visible;
        top: 10vh;
        &_bg {
            z-index: 0;
            transform: rotate(15deg);
            top: -100vh;
            left: 5vh;
            height: 100%;
            overflow: visible;
            opacity: .3;
            filter: saturate(10) blur(120px);
            .portfolio-slider__item {
                max-height: 100vh;
            }
        }
    }
    &-slider {
        &__wrapper {
            transition: var(--transition);
            will-change: transform;
        }
        &__item {
            max-height: 75vh;
            overflow: hidden;
        }
        &__img {
            width: 300%;
            height: 100%;
            background-size: 100% 100%;
            position: absolute;
            left: -100%;
            transition: var(--transition)!important;
            will-change: transform;
            &1 {
                left: -200%;
            }
        }
    }
}

.hidden {
    transition: all var(--transition);
    opacity: 0;
    transform: translateY(5vh);
    p {
        transform: translateY(2vh);
    }
}
