@import "libs/fonts";
@import "libs/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // overflow-y: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.df-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-n {
    display: none !important;
}

.nav__menu {
    display: flex;
    gap: 1.2vw;
    a {
        text-decoration: none;
        color: white;
        font-family: "Roboto Slab";
        font-size: calc(var(--index) * .8);
        &:after {
            content: '→ ';
            position: absolute;
            top: 0;
        }
        &:last-child {
            text-decoration: underline;
            &:after {
                content: '';
            }
        }
    }
}

@import "blocks/promo";
@import "blocks/portfolio";